.movies-card-list {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

.movies-card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  column-gap: 24px;
  row-gap: 30px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 70px;
}

@media screen and (max-width: 1010px) {
  .movies-card-list__container {
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 638px) {
  .movies-card-list__container {
    margin-top: 40px;
    row-gap: 16px;
  }
}
